/* Контейнеры 
.header {
  margin: 0 auto;
  padding: 80px 0 0 0;
}

/* Доп стили 
p:last-child {
  margin-bottom: 0;
}

p:first-child {
  margin-top: 0;
}

/* Отступы для элементов рядом с изображениями 
p + img {
  margin-top: 90px;
}

/* убираем дублирование отступа у текста после картинки 
img + p {
  margin-top: 0;
} */
/* стили для главной страницы */
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "PT Sans";
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
p,
blockquote,
ol,
ul {
  width: 700px;
  margin: 0 auto;
}

p,
blockquote,
ol,
ul {
  font-size: 22px;
  line-height: 34px;
  margin-bottom: 30px;
}

h1 + p {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.4);
}

a {
  color: inherit;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.8);
  font-family: "PT Sans Caption", "PT Sans", sans-serif;
}

h1 {
  font-size: 38px;
  line-height: 44px;
  margin: 50px auto;
}

h2 {
  font-size: 32px;
  line-height: 36px;
  margin-top: 42px;
}

h3 {
  font-size: 28px;
  line-height: 32px;
  margin-top: 36px;
}

h4 {
  font-size: 24px;
  line-height: 38px;
  margin-top: 32px;
}

h5 {
  font-size: 20px;
  line-height: 24px;
  margin-top: 28px;
}

h2 + p,
h3 + p,
h4 + p,
h5 + p {
  margin-top: 10px;
}
img {
  width: 1024px;
  margin: 0 auto;
  display: block;
}
ul {
  list-style-type: disc;
  padding-left: 26px;
}
ol {
  list-style-type: decimal;
  padding-left: 26px;
}

blockquote {
  font-style: italic;
  position: relative;
}
blockquote ::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: -20px;
}

/* стили для бокового меню  */

nav.sidebar {
  width: 300px;
  position: fixed;
  top: 0;
  left: 0;
  line-height: 100%;
  padding-top: 20px;
  font-size: 14px;
  opacity: 0.2;
}

nav.sidebar ol {
  width: 100%;
  font-size: inherit;
  list-style-type: none;
  margin: 0;
  line-height: 24px;
}
nav.sidebar a {
  text-decoration: none;
}

nav.sideral ol > ol {
  color: rgba(0, 0, 0, 0.4);
}
nav.sidebar:hover {
  opacity: 1;
  transition: 0.3s;
}
