/* Сброс стилей и базовые настройки */
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 23px;
  color: #333333;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 30px 80px 30px;
}
